In [28]:
import numpy as np
import pandas as pd
import re

df_base = pd.read_csv('data/food-facts/en.openfoodfacts.org.products.tsv', sep='\t')
print(df_base.shape)
print(df_base.info())
df_base.head()

C:\Users\TaeWoo\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (0,3,5,19,20,24,25,26,27,28,36,37,38,39,48) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(356027, 163)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 356027 entries, 0 to 356026
Columns: 163 entries, code to water-hardness_100g
dtypes: float64(107), object(56)
memory usage: 442.8+ MB
None

,code,url,creator,created_t,created_datetime,last_modified_t,last_modified_datetime,product_name,generic_name,quantity,...,fruits-vegetables-nuts_100g,fruits-vegetables-nuts-estimate_100g,collagen-meat-protein-ratio_100g,cocoa_100g,chlorophyl_100g,carbon-footprint_100g,nutrition-score-fr_100g,nutrition-score-uk_100g,glycemic-index_100g,water-hardness_100g
0,3087,http://world-en.openfoodfacts.org/product/0000...,openfoodfacts-contributors,1474103866,2016-09-17T09:17:46Z,1474103893,2016-09-17T09:18:13Z,Farine de blé noir,NaN,1kg,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4530,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489069957,2017-03-09T14:32:37Z,1489069957,2017-03-09T14:32:37Z,Banana Chips Sweetened (Whole),NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,14.0,14.0,NaN,NaN
2,4559,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489069957,2017-03-09T14:32:37Z,1489069957,2017-03-09T14:32:37Z,Peanuts,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN
3,16087,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489055731,2017-03-09T10:35:31Z,1489055731,2017-03-09T10:35:31Z,Organic Salted Nut Mix,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,12.0,NaN,NaN
4,16094,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489055653,2017-03-09T10:34:13Z,1489055653,2017-03-09T10:34:13Z,Organic Polenta,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
# make the countries string to lower case
df_base.countries = df_base.countries.str.lower()
# extract only us
df_us = df_base[(df_base['countries'] == 'united states') | (df_base['countries'] == 'en:us') \
                         | (df_base['countries'] == 'us')]
print(df_us.shape)
df_us.head()

(173063, 163)

,code,url,creator,created_t,created_datetime,last_modified_t,last_modified_datetime,product_name,generic_name,quantity,...,fruits-vegetables-nuts_100g,fruits-vegetables-nuts-estimate_100g,collagen-meat-protein-ratio_100g,cocoa_100g,chlorophyl_100g,carbon-footprint_100g,nutrition-score-fr_100g,nutrition-score-uk_100g,glycemic-index_100g,water-hardness_100g
1,4530,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489069957,2017-03-09T14:32:37Z,1489069957,2017-03-09T14:32:37Z,Banana Chips Sweetened (Whole),NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,14.0,14.0,NaN,NaN
2,4559,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489069957,2017-03-09T14:32:37Z,1489069957,2017-03-09T14:32:37Z,Peanuts,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN
3,16087,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489055731,2017-03-09T10:35:31Z,1489055731,2017-03-09T10:35:31Z,Organic Salted Nut Mix,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,12.0,NaN,NaN
4,16094,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489055653,2017-03-09T10:34:13Z,1489055653,2017-03-09T10:34:13Z,Organic Polenta,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,16100,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489055651,2017-03-09T10:34:11Z,1489055651,2017-03-09T10:34:11Z,Breadshop Honey Gone Nuts Granola,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
# save the dataframe go tsv file
#df_us_filtered.to_csv('data/food-facts/usa.openfoodfacts.tsv', sep='\t',  encoding='utf-8')
df_us.iloc[1].values

array([4559,
       'http://world-en.openfoodfacts.org/product/0000000004559/peanuts-torn-glasser',
       'usda-ndb-import', 1489069957, '2017-03-09T14:32:37Z', 1489069957,
       '2017-03-09T14:32:37Z', 'Peanuts', nan, nan, nan, nan,
       'Torn & Glasser', 'torn-glasser', nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'us',
       'en:united-states', 'United States',
       'Peanuts, wheat flour, sugar, rice flour, tapioca starch, salt, leavening (ammonium bicarbonate, baking soda), soy sauce (water, soybeans, wheat, salt), potato starch.',
       nan, nan, nan, nan, nan, '28 g (0.25 cup)', nan, 0.0,
       ' [ peanuts -> en:peanuts  ]  [ wheat-flour -> en:wheat-flour  ]  [ flour -> en:flour  ]  [ sugar -> en:sugar  ]  [ rice-flour -> en:rice-flour  ]  [ flour -> en:flour  ]  [ tapioca-starch -> en:tapioca-starch  ]  [ starch -> en:starch  ]  [ salt -> en:salt  ]  [ leavening -> en:leavening  ]  [ ammonium-bicarbonate -> en:ammonium-bicarbonate  ]  [ bicarbonate -> en:bicarbonate  ]  [ baking-soda -> en:baking-soda  ]  [ soda -> en:soda  ]  [ soy-sauce -> en:soy-sauce  ]  [ sauce -> en:sauce  ]  [ water -> en:water  ]  [ soybeans -> en:soybeans  ]  [ wheat -> en:wheat  ]  [ salt -> en:salt  ]  [ potato-starch -> en:potato-starch  ]  [ starch -> en:starch  ] ',
       nan, nan, 0.0, nan, nan, 0.0, nan, nan, nan, 'b', nan, nan,
       'en:to-be-completed, en:nutrition-facts-completed, en:ingredients-completed, en:expiration-date-to-be-completed, en:packaging-code-to-be-completed, en:characteristics-to-be-completed, en:categories-to-be-completed, en:brands-completed, en:packaging-to-be-completed, en:quantity-to-be-completed, en:product-name-completed, en:photos-to-be-uploaded',
       'en:to-be-completed,en:nutrition-facts-completed,en:ingredients-completed,en:expiration-date-to-be-completed,en:packaging-code-to-be-completed,en:characteristics-to-be-completed,en:categories-to-be-completed,en:brands-completed,en:packaging-to-be-completed,en:quantity-to-be-completed,en:product-name-completed,en:photos-to-be-uploaded',
       'To be completed,Nutrition facts completed,Ingredients completed,Expiration date to be completed,Packaging-code-to-be-completed,Characteristics to be completed,Categories to be completed,Brands completed,Packaging to be completed,Quantity to be completed,Product name completed,Photos to be uploaded',
       nan, nan, nan, nan, 1941.0, nan, 17.86, 0.0, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, 0.0, 0.0, 60.71, 17.86, nan, nan, nan, nan, nan, nan,
       nan, nan, 7.1, 17.86, nan, nan, nan, 0.635, 0.25, nan, 0.0, nan,
       nan, nan, nan, 0.0, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, 0.071, nan, 0.0012900000000000001, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, 0.0, 0.0, nan, nan], dtype=object)

In [31]:
lst_extract_columns = [
    "code","product_name","brands","sugars_100g", "salt_100g"
]
df_us_ext = df_us[lst_extract_columns]
print(df_us_ext.shape)
df_us_ext.head()

(173063, 5)

,code,product_name,brands,sugars_100g,salt_100g
1,4530,Banana Chips Sweetened (Whole),NaN,14.29,0.00000
2,4559,Peanuts,Torn & Glasser,17.86,0.63500
3,16087,Organic Salted Nut Mix,Grizzlies,3.57,1.22428
4,16094,Organic Polenta,Bob's Red Mill,NaN,NaN
5,16100,Breadshop Honey Gone Nuts Granola,Unfi,11.54,NaN

In [32]:
df_us_ext.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 173063 entries, 1 to 356026
Data columns (total 5 columns):
code            173063 non-null object
product_name    172515 non-null object
brands          171466 non-null object
sugars_100g     160062 non-null float64
salt_100g       170739 non-null float64
dtypes: float64(2), object(3)
memory usage: 7.9+ MB

In [33]:
df_us_ext.isnull().sum()

code                0
product_name      548
brands           1597
sugars_100g     13001
salt_100g        2324
dtype: int64

In [34]:
lst_ingridient = ["sugars_100g","salt_100g"]
# I considered there is no mineral information. I set the 0 to the NaN.
#df_us_ext[lst_ingridient] = df_us_ext[lst_ingridient].fillna(0.0)

# Or, I dropped the null values for "sugars_100g","salt_100g"
df_us_ext.dropna(subset=['sugars_100g', 'salt_100g'], how='any', inplace=True)

print(df_us_ext.shape)
df_us_ext.isnull().sum()

(159574, 5)

C:\Users\TaeWoo\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

code              0
product_name    106
brands          872
sugars_100g       0
salt_100g         0
dtype: int64

In [35]:
# remove rows to null product_name
df_us_ext = df_us_ext[~df_us_ext['product_name'].isnull()]

# remove rows to null brands
df_us_ext = df_us_ext[~df_us_ext['brands'].isnull()]
print(df_us_ext.shape)
df_us_ext.isnull().sum()

(158621, 5)

code            0
product_name    0
brands          0
sugars_100g     0
salt_100g       0
dtype: int64

In [39]:
df_sugar = df_us_ext[(df_us_ext['sugars_100g'] > 80) \
        & (df_us_ext['product_name'].str.contains(r'sugar' ,flags=re.IGNORECASE))]
print(df_sugar.shape)
df_sugar.head()

(486, 5)

,code,product_name,brands,sugars_100g,salt_100g
2938,11110683267,Sugar & Cinnamon,Kroger,85.71,0.0
2957,11110701794,"Dessert Topping, Red Sugar",Kroeger,100.00,0.0
2958,11110701800,Green Sugar Dessert Toppings,Kroger,100.00,0.0
3492,11110823274,Granulated Sugar,Psst,100.00,0.0
4367,11110871442,Organic Coconut Sugar,Simple Truth,100.00,0.0

In [40]:
# remove the sugar from df_us_ext
df_us_ext = df_us_ext[~(df_us_ext['sugars_100g'] > 80) \
        | ~(df_us_ext['product_name'].str.contains(r'sugar' ,flags=re.IGNORECASE))]
print(df_us_ext.shape)

(158135, 5)

In [42]:
df_salt = df_us_ext[(df_us_ext['salt_100g'] > 80) \
        & (df_us_ext['product_name'].str.contains(r'salt' ,flags=re.IGNORECASE))]
print(df_salt.shape)
df_salt.head()

(109, 5)

             code           product_name    brands  sugars_100g  salt_100g
1784  11110002976            Celery Salt    Kroger          0.0   83.45678
2983  11110713520  Salt & Pepper Shakers    Kroger          0.0   99.90582
6363  11150939881            Garlic Salt  Roundy's          0.0   87.74430
6368  11150940030               Sea Salt  Roundy's          0.0   99.29114
6398  11150949767            Celery Salt  Roundy's          0.0   83.45678

In [43]:
# remove the salt from df_us_ext
df_us_ext = df_us_ext[~(df_us_ext['salt_100g'] > 80) \
        | ~(df_us_ext['product_name'].str.contains(r'salt',flags=re.IGNORECASE))]
print(df_us_ext.shape)
df_us_ext.isnull().sum()

(158026, 5)

code            0
product_name    0
brands          0
sugars_100g     0
salt_100g       0
dtype: int64

In [44]:
# checking duplication codes
#df[df.duplicated(keep=False)]
df_us_ext_dup = df_us_ext[df_us_ext['code'].duplicated(keep=False)]
print(df_us_ext_dup.shape)
df_us_ext_dup.to_csv('data/food-facts/en.extract.dup.tsv', sep='\t', encoding='utf-8')

(183, 5)

In [45]:
# remove duplication codes
df_us_ext = df_us_ext.drop_duplicates(['code'], keep="first")
print(df_us_ext.shape)
df_us_ext.head()

(157934, 5)

     code            product_name          brands  sugars_100g  salt_100g
2    4559                 Peanuts  Torn & Glasser        17.86    0.63500
3   16087  Organic Salted Nut Mix       Grizzlies         3.57    1.22428
7   16124          Organic Muesli  Daddy's Muesli        15.62    0.13970
12  16872           Zen Party Mix        Sunridge         3.33    1.60782
15  18012    Cinnamon Nut Granola       Grizzlies        21.82    0.02286

In [50]:
# if there are date type 
#df_us_ext['created_datetime']  = df_us_ext['created_datetime'].astype('datetime64[ns]').dt.strftime('%m/%d/%Y')
#pd.to_datetime(df_us_column_filtered['created_datetime'], format='%Y%m%d', errors='ignore')

# NaN makes an error
#df_us_ext['ingredients_text'] = df_us_ext['ingredients_text'].fillna("None").values

# Using regex remove () and g, ml
#df_us_rm_column_filtered['grams'] = df_us_rm_column_filtered.serving_size.str.replace(r' \(.*\)', '')
#df_us_rm_column_filtered['grams'] = df_us_rm_column_filtered['grams'].str.extract("([0-9]*\.?[0-9]+)",expand=False)

# remove space
df_us_ext['product_name'] = df_us_ext['product_name'].str.strip()
df_us_ext['brands'] = df_us_ext['brands'].str.strip()
# cleansing brands
df_us_ext['brands'] = df_us_ext['brands'].str.replace(r",.*","")
df_us_ext['brands'] = df_us_ext['brands'].str.replace("!|Bros.| Co.| Inc.| Llc","")
df_us_ext['brands'] = df_us_ext['brands'].str.replace("-"," ")
df_us_ext['brands'] = df_us_ext['brands'].str.strip()
print(df_us_ext['brands'])

2                      Torn & Glasser
3                           Grizzlies
7                      Daddy's Muesli
12                           Sunridge
15                          Grizzlies
16                          Grizzlies
19                                Pcc
20                           Sunridge
21                           Sunridge
22                           Sunridge
23                           Sunridge
24                           Sunridge
26               New England Naturals
27                           Sunridge
28                           Sunridge
29                           Sunridge
31                                Pcc
32                           Sunridge
34               New England Naturals
35                           Sunridge
38                          Grizzlies
42                          Grizzlies
43                           Sunridge
50           Crown Pacific Fine Foods
52                               Unfi
54                               Unfi
55                               Unfi
57                               Unfi
59                               Unfi
60                                Pcc
                     ...
355701                  Casa Di Oliva
355706                      Frescomar
355787                     Ayam Brand
355788                     Ayam Brand
355789                     Ayam Brand
355791                     Ayam Brand
355792                     Ayam Brand
355793           Guinea Foods Sdn Bhd
355794                           Ayam
355801           Guinea Foods Sdn Bhd
355802           Guinea Foods Sdn Bhd
355810                           Ayam
355818                           Ayam
355819                           Ayam
355821                     Ayam Brand
355831    Hsc International Pte. Ltd.
355844                     Fruit Plus
355859       Lee Biscuits (Pte.) Ltd.
355860       Lee Biscuits (Pte.) Ltd.
355882                  Seven Sundays
355883                         Latena
355884                   Truly Indian
355928               Monari Fererzoni
355955                   Newman's Own
355957                Mccormick &pany
355968                       Clif Kid
355985       Industria De Casabe Paul
356004                       Jarritos
356022                   Trader Joe's
356026                  Market Pantry
Name: brands, Length: 157934, dtype: object

In [51]:
# delete negative values 
df_us_ext = df_us_ext[(df_us_ext['sugars_100g'] >= 0.0)]
df_us_ext = df_us_ext[(df_us_ext['salt_100g'] >= 0.0)]

# df_rm_dup.product_name.str.contains(r"\b(?:organic|Organic)\b", case=False)
df_us_ext['organic'] = \
    np.where(df_us_ext.product_name.str.contains(r"\b(?:organic|Organic)\b", case=False),1,0)
print(df_us_ext.shape)
df_us_ext.head()

(157928, 6)

,code,product_name,brands,sugars_100g,salt_100g,organic
2,4559,Peanuts,Torn & Glasser,17.86,0.63500,0
3,16087,Organic Salted Nut Mix,Grizzlies,3.57,1.22428,1
7,16124,Organic Muesli,Daddy's Muesli,15.62,0.13970,1
12,16872,Zen Party Mix,Sunridge,3.33,1.60782,0
15,18012,Cinnamon Nut Granola,Grizzlies,21.82,0.02286,0

In [52]:
# save the dataframe go tsv file
df_us_ext.to_csv('data/food-facts/data.featureEngineering.tsv', sep='\t',  encoding='utf-8', index=False)